html{
  font-family: 'Sen', Verdana, Helvetica, serif;
  text-align: justify;
  text-justify: inter-word;
}
/*Body will have dark background*/
body{
  margin: 5px;
  padding: 0;
  background: #1B1817;
  color: #FFEEE4;
}

img {
  border-radius: 15px;
}


/* style for navigation */
#navigation{
  margin-top: 20px;
}

#navigation img{
position: absolute;
margin-left: 40px;


}

nav{
  width: 100%;
  overflow:auto;
}
ul{
  padding:0;
  margin: 15px 0 0 200px;
  list-style: none;

}
li {
  float: left;
  font-weight: 400;
  font-size: 1.5em;

}

nav a {
  width: 100px;
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: Arial;
  color: #FFEEE4;
  text-align: center;
}
nav a:hover {
  background: #fa8687;
  transition: 0.5s;
  text-transform: uppercase;
}
/*end of navigation style*/


/*Start of introduction style */
#introduction{
  font-size: 1.5em;
  float: left;
  margin-top: 50px;
  margin: 40px;
  padding: 50px;
  border: solid 5px;

}

#introduction img{
  width: 40%;
  float: left;
  margin-right: 25px;
  margin-bottom: 20px;
  margin-top: 40px;
  border: 5px solid;
  border-color: #fa8687;

}

/* End of introduction style **/



/*Start of styles for artworks*/

#artworks h1{
  text-align: center;

}

#artworks{
  font-size: 1.5em;
  float: left;
  margin-top: 50px;
  margin: 40px;
  padding: 50px;
  border: solid 5px;

}

#artworks img{
  width: 30%;
  padding: 5px;

}

#artworks span{
  font-weight: 700;
  font-size: 1em;
  color: #fa8687;
}

#artworks p{
  margin-left: 150px;
  margin-right: 150px;

}

#artworks a{
      text-decoration: none;
      float: right;
      color: #fa8687;
      font-size: 1em;
}
/* End of artworks styles */



/* Start of cat styles */
#cats{
  font-size: 1.5em;
  float: left;
  margin-top: 50px;
  margin: 40px;
  padding: 50px;
  border: solid 5px;

}

#cats img{
  width: 30%;
}

#cats h1{
  text-align: center;

}

#cats a{
    text-decoration: none;
    float: right;
    color: #fa8687;
}
#cats p{
  margin-left: 150px;
  margin-right: 150px;

}
/*End of cat styles*/


/* Start of videos styles */
#videos{
  font-size: 1.5em;
  float: left;
  margin-top: 50px;
  margin: 40px;
  padding: 50px;
  border: solid 5px;

}

#videos img{
  width: 30%;
}

#videos h1{
  text-align: center;

}

#videos a{
    text-decoration: none;
    float: right;
    color: #fa8687;
}
#videos p{
  margin-left: 150px;
  margin-right: 150px;

}


figure{
  float: none;
}

/*End of videos styles*/




/* Start of notes styles */
#notes{
  font-size: 1.5em;
  float: left;
  margin-top: 50px;
  margin: 40px;
  padding: 50px;
  border: solid 5px;

}

#notes img{
  width: 30%;
}

#notes h1{
  text-align: center;

}

#notes a{
    text-decoration: none;
    float: right;
    color: #fa8687;
}
#notes p{
  margin-left: 150px;
  margin-right: 150px;

}
/*End of notes styles*/
